// font size
$fs-h1: 40px;
$fs-p: 18px;

// font-family
$cardo: "Cardo", serif;

// 太さ
$cardo-regular:400;
$cardo-bold:700;

// 色
$fc-white: #ffffff;

// コンテンツサイズ
$wd-content-pc: 1170px;
$wd-content-sp: 350px;
$max-width-pc: 972px;